
process {
    cpus = 2
    memory = '8 GB'
}

profiles {
    conda {
        conda.enabled = true
        conda = "env.yml"
    }

    docker {
        docker.enabled = true
        process.container = "ghcr.io/young-sudo/phylogen:latest"
    }

    singularity {
        singularity.enabled = true
        process.container = "docker://ghcr.io/young-sudo/phylogen:latest"
    }

    standard {
        executor = "local"
    }
}
